{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
    <div class="col-md-7 offset-md-2 bg-dark   bg-gradient text-center border border-5 p-5 text-light">
        <h3 class="text-center">Update Article</h3>
        <hr>  
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <br>
            <button type="submit" class=" btn btn-outline-danger btn-lg  active"  aria-pressed="true" role="button" >Update the Article</button>
        
        </form>
    </div>

</div>
{% endblock  %}